main {
    max-width: 800px;
    margin: auto;
}

.highlight {
    background-color: var(--accent-background);
}

body {
    margin: 10px;
}

body footer {
    display: flex;
    justify-content: space-between;
    
}

body footer nav > * {
    padding-left: 16px;
    padding-right: 16px;
    background: #fff;
}

body footer nav ul {
    display: flex;
    justify-content: space-between;
}

body footer nav.footer-nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

  
